.hero-area {
  background-size: 30vw;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
