.client-meta span{
    color:white;
}
.member-meta span{
    color:white;
}
.social-icon ul li a i{
    color:white;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:white;
    background-color:#2c9091;
}
.clndr .ti-calendar{
    margin-right: 10px;
}
.post-single-content{
    color:white;
}
.speaker{
    width:12%;
    display: inline-block;
}
.bio{
    display: inline-block;
    color:white;
}
.bio span{
    font-size: 1.2rem;
}
@media only screen and (max-device-width: 768px) {
    .hero-area{
        height: 70vh;
    }
}

blockquote p{
    font-size:20px;
}
blockquote {
    background-color:#2c9091 ;
    line-height: 25px;
}