{{ if gt site.RegularPages 0}}
{{"<!-- Start Upcoming Section -->" | safeHTML}}
<section id="Lecture" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2>{{ with i18n "upcomingSectionTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}
						<span class="color">
						  {{ with i18n "upcomingSectionTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }}
						</span>
						  {{ with i18n "upcomingSectionTitle" }} {{ index (split . " ") 2 | safeHTML }} {{ end }}
						<span class="color">
						  {{ with i18n "upcomingSectionTitle" }} {{ index (split . " ") 3 | safeHTML }} {{ end }}
						</span>
					  </h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 3 (where site.RegularPages "Section" "==" "events").ByEvent_start_date}}
			{{ .Render "upcoming"}}
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main" href="{{ `events` | absLangURL }}">{{ i18n "ViewAllEvents" }}</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /upcoming -->" | safeHTML}}
{{ end }}
