{{ if .Site.Data.skill.enable }}
{{"<!-- Skills -->" | safeHTML }}
<section id="team-skills" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML }}
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>{{ with .Site.Data.skill.heading}} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.skill.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ with .Site.Data.skill.title }} <h2> {{ . }} </h2> {{ end }}
                {{ with .Site.Data.skill.content }} <p> {{ . }} </p> {{ end }}
                <img class="img-responsive" src="{{ .Site.Data.skill.image | absURL }}" alt="image">
            </div>
            <div class="col-md-6">
                <ul class="skill-bar">
                    {{ range .Site.Data.skill.skillItem }}
                    <li>
                        <p><span>{{ .itemNumber }}</span>{{ .itemName }}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{ .itemPercent }}">
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{"<!-- /skill -->" | safeHTML }}
{{ end }}