{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <ul class="list-inline mb-50">
          <!-- <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li> -->
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Params.event_start_date }}</li>
        </ul>
        {{ if (isset .Params "image") }}
          <img class="img-fluid mb-50 lozad" data-src="{{ .Params.Image | absURL }}" alt="blog-image">
        {{end}}
      </div>
      {{ range .Params.event_speakers }}
        <div class="col-lg-8 offset-lg-2">
          Speakers
          {{.Speaker_name}} {{.Bio}}
        </div>
      {{end}}
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
      {{if .Params.disable_download}}
        <div class="col-lg-8 offset-lg-2">
          <input type="hidden" id="subject" value="{{.Title }}"/>
          <input type="hidden" id="cl-description" value="{{ .Params.calendar_description }}"/>
          <input type="hidden" id="description" value="{{ .Content }}"/>
          <input type="hidden" id="location" value="{{.Params.location }}"/>
          <input type="hidden" id="start-date" value="{{.Params.event_start_date }}"/>
          <input type="hidden" id="end-date" value="{{.Params.event_end_date }}"/>
          <input type="hidden" id="filename" value="{{ .Params.calendar_filename }}"/>
          <button class="clndr btn btn-main" onclick="downloadEvent()">
              <i class="ti-calendar"></i>Add to Calendar
          </button>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
